[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.5"
django-cors-headers = "*"
djangorestframework = "*"
markdown = "*"
pillow = "*"
braintree = "*"

[dev-packages]

[requires]
python_version = "3.9"
